.title-bar {
    height: 40px;
    background-color: #9E7E69;
  }
  
 .title-bar-content {
   height: 100%;
   padding-left: 5px;
   padding-right: 5px;
 }
 .top-btn {
   height: 100%;
   color: #FFF;
   font-size: 20px;
   padding: 5px;
 }
  
 .hello-btn {
    height: 100%;
    color: #FFF;
    font-size: 20px;
    padding: 5px;
 }